
#color-4 {
    background: #63FF73;
    ;
}
#color-5 {
    background: #FFDD63;
}
#color-6{
    background: #6663FF;
}

@media screen and (max-width: 800px) {
    .Cards {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
};